*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #465670;
}

.icon {
  fill: #c5c5c5;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  overflow: hidden;
}

.icon-white {
  fill: #fff;
}

.icon-med{
  height: 1.5em;
  width: 1.5em;
}

.icon-big {
  height: 3em;
  width: 3em;
}

.icon-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-wrapper:hover > .icon-facebook {
  fill: #4c6baa;
}

.icon-wrapper:hover > .icon-twitter {
  fill: #4fc6f8;
}

.icon-wrapper:hover > .icon-google-plus {
  fill: #d34836;
}

.icon-wrapper:hover > .icon-black {
  fill: #000;
}

.icon-wrapper:hover > .icon-white {
  fill: #fff;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

.navbar {
  display: flex;
  height: 75px;
  margin-top: 50px;
  background-color: #fff;
  margin-bottom: 5px;
}

.hamburger-menu {
  display: flex;
  background-color: #56ccc8;
  align-items: center;
  justify-content: center;
  height: 75px;;
  width: 75px;
  cursor: pointer;
}

.hamburger-menu-icon {
  background: linear-gradient(to bottom, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
  display: block;
  float: right;
  height: 20px;
  width: 20px;
}

.navbar-left {
  display: flex;
  position: relative;
  height: inherit;
  width: 70%;
}

.horizontal-menu {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

nav ul {
  background-color: inherit;
}

nav ul li {
  list-style: none;
  cursor: pointer;
  color: #475055;
}

.horizontal-menu li {
  display: inline-block;
  padding-left: 25px;
}

.horizontal-menu li:hover {
  color: #56ccc8;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.social {
  display: flex;
  justify-content: space-around;
  flex-grow: 2;
  border-left: 1px solid #b2b9be;
  border-right: 1px solid #b2b9be;
}

.section-social{
  display: flex;
  align-items: stretch;
}

.left-wrapper,
.right-wrapper {
  display: flex;
  flex-grow: 1;
}

.right-wrapper {
  flex-direction: column;
  margin-left: 5px;
}

.left-wrapper {
  flex-direction: row;
  margin-right: 5px;
}

.social-wrapper {
  display: flex;
}

.social-list {
  flex-grow: 1;
  margin-right: 5px;
}

.follower-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 5px;
}

.follower-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding: 10%;
}

.follower-fb {
  background-color: #4c6baa;
  margin-bottom: 5px;
}

.follower-tw {
  background-color: #4fc6f8;
  margin-top: 5px;
}

.follower-desc {
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.social-media-item {
  display: flex;
  align-items: center;
  height: 70px;
  list-style: none;
  cursor: pointer;
  color: #475055;
  padding-left: 15%;
}

.social-media-desc {
  margin-left: 1em;
}

.social-media-icon.facebook-icon:hover,
.social-media-item:hover .facebook-icon {
  background-color: #4c6baa;
}

.social-media-icon.twitter-icon:hover,
.social-media-item:hover .twitter-icon {
  background-color: #4fc6f8;
}

.social-media-icon.google-plus-icon:hover,
.social-media-item:hover .google-plus-icon {
  background-color: #d34836;
}

.social-media-icon.linkedin-icon:hover,
.social-media-item:hover .linkedin-icon {
  background-color: #0077b5;
}

.social-media-item:hover .pinterest-icon {
  background-color: #bd081c;
}

.social-media-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #c5c5c5;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  justify-content: space-around;
  align-items: center;

  min-height: 150px;
  padding: 15px;
  background-color: #fff;
  margin-top: 10px;
}

.social-network-wrapper{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.social-network-round {
  display: inline-flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #899196;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 100%;
}

.btn {
  text-transform: uppercase;
  line-height: 2rem;
  width: 20%;
  border-style: none;
  border-radius: .5rem;
}

.btn-red {
  color: white;
  background-color: #ea6060;
}

.signup-form input {
  line-height: 2rem;
  width: 60%;
}

.vertical-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #fff;
}

.menu-item{
  display: flex;
  height: 70px;
  padding: 5px;
  align-items: center;
  border-bottom: 1px solid #C5C5C5;
}

.menu-item.active,
.menu-item:hover {
  background-color: #56ccc8;
  color: #fff;
}

.menu-item.active .icon,
.menu-item:hover .icon{
  fill: #fff;
}

.menu-icon {
  margin: 20px;
}

.contact-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #b2b9bd;
  color: #fff;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item .icon {
  fill: #fff;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #152840;
}

.sub-partial {
  padding: 15px;
  border-bottom: 1px solid #465c7a;
}

.sub-partial:last-child {
  border-bottom: none;
}

.sub-partial:hover {
  background-color: #263a54;
}

.sub-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  padding-bottom: 15px;
  color: #56ccc8;
  font-size: 1.2em;
}

.sub-content li {
  color: #fff;
  padding-bottom: 10px;
}

.sub-content li:hover {
  color: #56ccc8;
}


@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  .navbar-right {
    justify-content: space-around;
    width: 100%;
  }

  .navbar-left {
    width: min-content;
  }

  .horizontal-menu{
    display: none;
  }

  .contact-info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    min-height: 100px;
  }

  .section-social {
    flex-direction: column;
  }

  .left-wrapper {
    margin: 0;
  }

  .right-wrapper {
    margin: 0;
  }

  .social-list {
    margin: 0;
  }

  .follower-wrapper {
    margin: 0;
  }

  .follower-fb {
    margin: 0;
  }

  .follower-tw {
    margin: 0;
  }

  .card {
    margin: 0;
    border-top: 1px solid #465670;
  }

}

@media screen and (max-width: 768px) {
  .contact-info {
    flex-direction: column;
  }
}